<section class="initial-section content-display">
    <div class="row mx-auto maxwidth text-center">
        <div class="col-12">
            <h3>Estructuras de secuencia</h3>
        </div>
        <a [routerLink]="PATH_TIPOS"  class="col-6 mt-5">
            <h5>Tipos de datos</h5>
            <img [src]="TIPODATOSIMG" alt="tiposDatos.png">
        </a>
        <a class="col-6 mt-5">
            <h5>Expresiones y operadores</h5>
            <img [src]="EXPRESIONES" alt="expresiones.png">
        </a>
    </div>
</section>
