<section class="initial-section content-display">
  <div class="row mx-auto maxwidth text-center">
    <div class="col-12">
      <h3>Funciones</h3>
      <p class="w-75 mx-auto text-start">
        Una función permite encapsular una parte del código y llamarlo desde otros sitios en su código. Podrías estar
        muy pronto en una situación en la cual necesites repetir la misma pieza de código, en varios lugares, y aquí es
        donde usamos las funciones.
      </p>
    </div>
    <a [routerLink]="PATH_FUNCION" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" class="imgExplain" class="col-6 mt-5 mx-auto">
      <img [src]="FUNCIONPATH" alt="for.png">
    </a>
  </div>
</section>
