<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="tag_a_brand">
            <a class="navbar-brand" href="#">
                <img class="img_tag_a_brand" src="../../../assets/home/Logo_U.T.P.png" alt="">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedItem"
            aria-controls="navbarSupportedItem" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedItem">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://drive.google.com/file/d/1HvcyS8jRd0BjvqZr_Rxb9kMidOdwwO5i/view?usp=sharing">
                        <img src=".../../../../../assets/icon/manual_codigo.png" alt="codigo.png">
                        Manual de código</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://drive.google.com/file/d/1SDCkmodn1XF-0DSMjdxrFykWyeHH8oJg/view?usp=sharing">
                        <img src="../../../assets/icon/manual_usuario.png" alt="">
                        Manual de usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://drive.google.com/file/d/1qXeallsH7tuwG7GBw_iVREVLc3JyTmzO/view?usp=sharing">
                        <img src="../../../assets/icon/manual_tecnico.png" alt="">
                        Manual tecnico</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="router-link-active"  class="nav-link" href="#">
                        <img src="../../../assets/icon/return.jpg" alt="">
                        Volver al menu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
