<section class="initial-section maxwidth mx-auto">
  <div class="row mx-auto text-center">
    <div class="col-12 mt-5">
      <h3>Estructuras de secuencia</h3>
    </div>
    <div class="col-6 mx-auto content-img mt-5">
      <h3>Operadores</h3>
      <img [src]="OPERADORESIMG" alt="tipos_datos.png">
    </div>
    <div class="col-6 mx-auto mt-5">
      <h3>¿Que son las Expresiones?</h3>
      <p class="text-start">
        Las expresiones son combinaciones de constantes, variables, símbolos de operación, paréntesis y nombres de
        funciones especiales. Cada expresión toma un valor que se determina tomando los valores de las variables y
        constantes implicadas en la ejecución de las operaciones indicadas. Una expresión consta de operadores y
        operandos los cuales se verán a continuación.
      </p>
    </div>
  </div>
</section>
<section class="purple_color">
  <div class="row mx-auto maxwidth text-start p-5">
    <div class="col-12">
      <h3 class="mb-3">Operadores de asignaciones</h3>
      <p class="my-3">
        Los operadores de asignación son expresiones que simbolizan la asignación de un valor hacia una variable o
        contenedor. Existe tanto en visual Basic como en C# todo un grupo de operadores los cuales le permiten
        básicamente asignar un valor a una variable, usando el operador =. Con estos operadores pueden aplicar la
        técnica denominada asignación aumentada.
      </p>
      <table class="table table-striped mt-3">
        <thead>
          <tr class="text-center" style="background-color: #52358e;color: white;">
            <th scope="col">Operador</th>
            <th scope="col">Explicación</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <tr>
            <th><span class="color-pourpel">Operador =</span></th>
            <td class="">El operador igual a, <span class="color-pourpel">(=)</span>, es el más simple de todos y asigna
              a la variable del lado izquierdo cualquier variable o resultado del lado derecho.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador +=</span></th>
            <td class="">El operador <span class="color-pourpel">+=</span> suma a la variable del lado izquierdo el
              valor del lado derecho.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador -=</span></th>
            <td class="">El operador <span class="color-pourpel">-=</span> resta a la variable del lado izquierdo el
              valor del lado derecho.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador *=</span></th>
            <td class="">El operador <span class="color-pourpel">*=</span> multiplica la variable del lado izquierdo el
              valor del lado derecho.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador /=</span></th>
            <td class="">El operador <span class="color-pourpel">/=</span> divide a la variable del lado izquierdo el
              valor del lado derecho.</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
<section class="mt-5 mx-auto">
  <div class="row mx-auto maxwidth text-start">
    <div class="col-12">
      <h3 class="text-center">Operadores de Aritméticos</h3>
      <p class="mx-auto">
        Los Operadores aritméticos se usan para desarrollar aplicaciones que incluyen operaciones aritméticas o
        matemáticas. Tales como suma, resta, multiplicación, división, etc.
        Los valores numéricos no son simplemente el resultado de una declaración sencilla de una variable, también
        pueden ser el resultado de una operación matemática.
      </p>
      <table class="table table-striped mt-3">
        <thead>
          <tr class="text-center" style="background-color: #52358e;color: white;">
            <th scope="col">Operador</th>
            <th scope="col">Explicación</th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <th><span class="color-pourpel">Operador Suma</span></th>
            <td class="">El operador <span class="color-pourpel">+</span> suma los valores de tipo de datos numéricos.
            </td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador Resta</span></th>
            <td class="">El operador <span class="color-pourpel">-</span> resta los valores de tipo de datos numéricos.
            </td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador Negación</span></th>
            <td class="">El operador <span class="color-pourpel">-</span> asigna un valor negativo a un tipo de datos
              numéricos.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador Multiplicación</span></th>
            <td class="">El operador <span class="color-pourpel">*</span> multiplica los valores de tipo de datos
              numéricos.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador división</span></th>
            <td class="">El operador división el resultado que se devuelve es un número real.</td>
          </tr>
          <tr>
            <th><span class="color-pourpel">Operador módulo</span></th>
            <td class="">El operador módulo no hace otra cosa que devolver el resto de la división entre los dos
              operandos. En el ejemplo, 7 / 2 sería 3, con 1 de resto, luego el módulo es 1.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="purple_color">
  <div class="row mx-auto maxwidth text-start p-5">
    <div class="col-12">
      <h3 class="text-center">Operadores relacionales</h3>
      <p class="mx-auto">
        Los operadores relacionales son expresiones que simbolizan o representan una operación de comparación, como por
        ejemplo: mayor que, menor que, igual que, diferente de, etc. Estas expresiones devuelven como resultado un tipo
        de dato booleano, que nos permite validar si es Verdadero o Falso la comparación.
      </p>
      <table class="table table-striped mt-3">
        <thead>
            <tr class="text-center" style="background-color: #52358e;color: white;">
                <th scope="col">Operador</th>
                <th scope="col">Explicación</th>
            </tr>
        </thead>
        <tbody class="bg-light">
            <tr>
                <th><span class="color-pourpel">Operador ==</span></th>
                <td class="">El operador <span class="color-pourpel">==</span> evalua que los valores sean iguales para varios tipos de datos.</td>
            </tr>
            <tr>
                <th><span class="color-pourpel">Operador !=</span></th>
                <td class="">El operador <span class="color-pourpel">!=</span> evalua si los valores son distintos.</td>
            </tr>
            <tr>
                <th><span class="color-pourpel">Operador <</span></th>
                <td class="">El operador <span class="color-pourpel"><</span> evalua si el valor del lado izquierdo es menor que el valor del lado derecho</td>
            </tr>
            <tr>
                <th><span class="color-pourpel">Operador ></span></th>
                <td class="">El operador <span class="color-pourpel">></span> evalua si el valor del lado izquierdo es mayor que el valor del lado derecho.</td>
            </tr>
            <tr>
                <th><span class="color-pourpel">Operador <=</span></th>
                <td class="">El operador <span class="color-pourpel"><=</span> evalua si el valor del lado izquierdo es menor o igual que el valor del lado derecho.</td>
            </tr>
            <tr>
                <th><span class="color-pourpel">Operador >=</span></th>
                <td class="">El operador <span class="color-pourpel">>=</span> evalua si el valor del lado izquierdo es mayor o igual que el valor del lado derecho.</td>
            </tr>
        </tbody>
    </table>

    </div>
  </div>
</section>
<section class="mt-3 mx-auto">
  <div class="row mx-auto maxwidth text-start p-5">
    <div class="col-12">
      <h3 class="text-center">Algunos ejemplos de Operadores</h3>
      <h5 class="text-center">Operador <span class="color-pourpel">*=</span></h5>
    </div>
    <div class="row mx-auto mt-3">
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECSHARP1 }}</code>
        </pre>
      </div>
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECVB1 }}</code>
        </pre>
      </div>
      <div class="col-12">
        <h4>Resultado</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">
            Numero multiplicado: 16
          </code>
        </pre>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h5 class="text-center">Operador <span class="color-pourpel">Módulo</span></h5>
    </div>
    <div class="row mx-auto mt-3">
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECSHARP2 }}</code>
        </pre>
      </div>
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECVB2 }}</code>
        </pre>
      </div>
      <div class="col-12">
        <h4>Resultado</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">
            El módulo del número es: 1
          </code>
        </pre>
        <p class="mt-3 color-pourpel" style="font-weight: bold;">
          Para este operador se puede observar cómo cambia la forma de utilizarlo en un lenguaje o en otro, más sin embargo el resultado y la lógica siguen siendo la misma.
          </p>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h5 class="text-center">Operador <span class="color-pourpel">></span></h5>
    </div>
    <div class="row mx-auto mt-3">
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECSHARP3 }}</code>
        </pre>
      </div>
      <div class="col-6">
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">{{ CODECVB3 }}</code>
        </pre>
      </div>
      <div class="col-12">
        <h4>Resultado</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-vb">
            True
          </code>
        </pre>
      </div>
    </div>
  </div>
</section>
<section class="purple_color mb-5">
  <div class="row mx-auto maxwidth text-center pb-5">
    <div class="col-12 mt-5">
      <h3>Vamos a los ejemplos</h3>
      <p class="text-start">
        A continuación, se presentan una serie de ejemplos con los cuales se busca afianzar un poco más el conocimiento adquirido en esta sección, cada ejemplo cuenta con una forma interactiva de poder llevarlos a cabo, en la presentación de cada ejemplo se da una pequeña descripción de lo que se busca explicar.
      </p>
    </div>
    <div class="col-4 mt-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Ejemplo # 1</h5>
          <p class="card-text">
            Se desea realizar un programa que le permita a un usuario realizar el calculo de la multiplicación de dos números ingresados por él.
          </p>
          <a [routerLink]="GO_EJ1" class="show-example-purple d-block">Ver ejemplo</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Ejemplo # 2</h5>
          <p class="card-text">
            Calcule si un número es par o impar, imprimir si el número es par True o si es impar False
          </p>
          <a [routerLink]="GO_EJ2" class="show-example-purple d-block">Ver ejemplo</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Ejemplo # 3</h5>
          <p class="card-text">
            En un restaurante se desea calcular el promedio de dinero de la venta de 3 platos fuertes, para ello se pide crear un programa que permita ingresar el precio de cada plato y calcular su promedio.
          </p>
          <a [routerLink]="GO_EJ3" class="show-example-purple d-block">Ver ejemplo</a>
        </div>
      </div>
    </div>
  </div>
</section>
