<section class="initial-section content-display">
  <div class="row mx-auto maxwidth text-center">
    <div class="col-12">
      <h3>Estructuras de datos</h3>
    </div>
    <a [routerLink]="PATHLISTAS" routerLinkActive="router-link-active"  class="imgExplain" class="col-6 mt-5">
      <h5>Listas</h5>
      <img [src]="LISTASIMG" alt="for.png">
    </a>
    <a [routerLink]="PATHMATRICES" class="imgExplain" class="col-6 mt-5">
      <h5>Matrices</h5>
      <img [src]="MATRICESIMG" alt="while.png">
    </a>
  </div>
</section>
