<section class="initial-section maxwidth mx-auto">
  <div class="row mx-auto">
    <div class="col-4">
      <h3 class="mb-3">Código en C#</h3>
      <pre class="language-language-markup line-numbers">
        <code class="language-cs">
          namespace Ejemplo4&#123;
              class Program&#123;
                  static void Main(string[] args)&#123;
                      int numero, n1, n2, n3, promedio;
                      Console.WriteLine("Ingrese el numero de estudiantes:");
                      numero = Int32.Parse(Console.ReadLine());
                      if (numero <= 3)&#123;
                          for (int i = 0; i < numero; i++)&#123;
                              Console.WriteLine("Nota 1:");
                              n1 = Int32.Parse(Console.ReadLine());
                              Console.WriteLine("Nota 2:");
                              n2 = Int32.Parse(Console.ReadLine());
                              Console.WriteLine("Nota 3:");
                              n3 = Int32.Parse(Console.ReadLine());
                              promedio = (n1 + n2 + n3) / 3;
                              Console.WriteLine("El promedio del alumno &#123;0&#125; es &#123;1&#125;", i, promedio);
                          &#125;
                      &#125;else&#123;
                          Console.WriteLine("Numero de estudiantes mayor a 3");
                      &#125;
                  &#125;
              &#125;
          &#125;
        </code>
        <span class="line_paint" [style.top]="top_style1"> </span>
      </pre>
    </div>
    <div class="col-4">
      <h3 class="mb-3">Código en VisualBasic</h3>
      <pre class="language-language-markup line-numbers">
        <code class="language-vb">&#123;&#123; CODECVB &#125;&#125;</code>
        <span class="line_paint" [style.top]="top_style2"> </span>
      </pre>
    </div>
    <div class="col-4">
      <div class="row mx-auto">
        <div class="col-12">
          <h5>Variables</h5>
          <p class="pcontainerexplain">
            &#123;&#123; variable_line &#125;&#125;
          </p>
          <!-- [ngClass]="&#123;'desactivate': !inputShow&#125;" -->
          <!-- [ngClass]="&#123;'desactivate': !inputShow&#125;" -->
          <h5>Explicación</h5>
          <p class="pcontainerexplain">
            &#123;&#123; text_explain &#125;&#125;
          </p>
          <h5 [ngClass]="&#123;'desactivate': !inputShow&#125;" >Datos</h5>
          <p [ngClass]="&#123;'desactivate': !inputShow&#125;" class="pcontainerexplain">
            <input type="text" placeholder="Ingresa numero" [(ngModel)]="valueField">
          </p>
        </div>
        <div class="col-12 text-center">
          <a class="show-example-purple" (click)="next()">Siguiente</a>
          <!-- <a class="arrow_tag" (click)="next()">
            <i class="arrow right"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
