<section class="initial-section content-display">
  <div class="row mx-auto maxwidth text-center">
    <div class="col-12">
      <h3>Estructuras de secuencia</h3>
    </div>
    <a [routerLink]="PATHFOR" routerLinkActive="router-link-active"  class="imgExplain" class="col-6 mt-5">
      <h5>Estructuras repetitivas FOR</h5>
      <img [src]="FORIMG" alt="for.png">
    </a>
    <a class="imgExplain" class="col-6 mt-5">
      <h5>Estructuras repetitivas WHILE</h5>
      <img [src]="WHILEIMG" alt="while.png">
    </a>
  </div>
</section>
