<section class="initial-section maxwidth mx-auto">
  <div class="row mx-auto">
    <div class="col-4">
      <h3 class="mb-3">Código en C#</h3>
      <pre class="language-language-markup line-numbers">
        <code class="language-cs">
          namespace Ejemplo1&#123;
              class Program&#123;
                  static void Main(string[] args)&#123;
                      int cant;
                      Console.WriteLine("Ingrese la cantidad de datos agregar");
                      cant = Int32.Parse(Console.ReadLine());
                      if (cant <= 5)&#123;
                          int[] arreglo;
                          arreglo = new int[5];
                          int i,suma;
                          for(i = 0; i < cant; i ++)&#123;
                              Random rand = new Random();
                              arreglo[i] = rand.Next (1,10);
                          &#125;
                          suma = 0;
                          for(i = 0; i < cant; i ++)&#123;
                              Console.WriteLine("numero: &#123;0&#125;",arreglo[i]);
                              suma += arreglo[i];
                          &#125;
                          Console.WriteLine("La suma de todos los número aleatorios es: &#123;0&#125;",suma);
                      &#125;else&#123;
                          Console.WriteLine("La cantidad de numeros que desea ingresar es mayor a 5");
                      &#125;
                  &#125;
              &#125;
          &#125;
        </code>
        <span class="line_paint" [style.top]="top_style1"> </span>
      </pre>
    </div>
    <div class="col-4">
      <h3 class="mb-3">Código en VisualBasic</h3>
      <pre class="language-language-markup line-numbers">
        <code class="language-vb">&#123;&#123; CODECVB &#125;&#125;</code>
        <span class="line_paint" [style.top]="top_style2"> </span>
      </pre>
    </div>
    <div class="col-4">
      <div class="row mx-auto">
        <div class="col-12">
          <h5>Variables</h5>
          <p class="pcontainerexplain">
            &#123;&#123; variable_line &#125;&#125;
          </p>
          <!-- [ngClass]="&#123;'desactivate': !inputShow&#125;" -->
          <!-- [ngClass]="&#123;'desactivate': !inputShow&#125;" -->
          <h5>Explicación</h5>
          <p class="pcontainerexplain">
            &#123;&#123; text_explain &#125;&#125;
          </p>
          <h5 [ngClass]="&#123;'desactivate': !inputShow&#125;" >Datos</h5>
          <p [ngClass]="&#123;'desactivate': !inputShow&#125;" class="pcontainerexplain">
            <input type="text" placeholder="Ingresa numero" [(ngModel)]="valueField">
          </p>
        </div>
        <div class="col-12 text-center">
          <a class="show-example-purple" (click)="next()">Siguiente</a>
          <!-- <a class="arrow_tag" (click)="next()">
            <i class="arrow right"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
