<section class="initial-section content-display">
  <div class="row mx-auto maxwidth text-start mt-5">
    <h2 class="text-center">Estructuras de selección</h2>
    <div class="mt-3 w-75 mx-auto">
      <p>
        Las estructuras de selección son un tipo de estructura de control. También llamada estructura de decisión o
        estructura selectiva. En estas estructuras, el algoritmo al ser ejecutado toma una decisión, ejecutar o no
        ciertas
        instrucciones si se cumplen o no ciertas condiciones. La evaluación de condiciones solo puede arrojar 1 de 2
        resultados: verdadero o falso (True o False).
        ¿Cuántos tipos de estructuras de selección hay? <br>
        Básicamente hay tres tipos de estructuras de selección:
      </p>
      <ul>
        <li>Estructuras de selección simples</li>
        <li>Estructuras de selección doble</li>
        <li>Estructura de selección múltiple</li>
      </ul>
    </div>
  </div>
  <div class="row mx-auto maxwidth text-center mt-5 mb-5">
    <div class="col-lg-6">
      <a class="col-12 mt-5" [routerLink]="PATH_SIMPLESDOBLES">
        <h5>Estructuras de selección simples y dobles</h5>
        <img [src]="SIMPLESIMG" alt="simpleydobles.png">
      </a>
    </div>
    <div class="col-lg-6">
      <a class="col-12 mt-5" [routerLink]="PATH_MULTIPLES">
        <h5>Estructuras de selección múltiples</h5>
        <img [src]="MULTIPLES" alt="multiples.png">
      </a>
    </div>
  </div>
</section>
