<section class="initial-section content-display">
    <div class="row mx-auto maxwidth text-start mt-5">
        <div class="col-6">
            <h3>Estructuras de secuencia</h3>
            <p>
                Las estructuras de selección son un tipo de estructura de control. También llamada estructura de
                decisión o estructura selectiva. En estas estructuras, el algoritmo al ser ejecutado toma una decisión,
                ejecutar o no ciertas instrucciones si se cumplen o no ciertas condiciones. La evaluación de condiciones
                solo puede arrojar 1 de 2 resultados: verdadero o falso (True o False).
            </p>
            <ul>
                <li>Estructuras de selección simples</li>
                <li>Estructuras de selección doble</li>
                <li>Estructuras de selección múltiple</li>
            </ul>
        </div>
        <div class="col-6">
            <div class="row mx-auto">
                <a class="col-12 mt-5">
                    <h5>Estructuras de selección simples y dobles</h5>
                    <img [src]="SIMPLESIMG" alt="simpleydobles.png">
                </a>
                <a class="col-12 mt-5">
                    <h5>Estructuras de selección múltiples</h5>
                    <img [src]="MULTIPLES" alt="multiples.png">
                </a>
            </div>
        </div>
    </div>
</section>